# Build output
bin/
obj/

# User-specific
*.user
*.suo
*.userprefs

# VS / VSCode
.vs/
# .vscode NICHT ignorieren (wir committen launch/tasks)
!.vscode/

# OS
.DS_Store
Thumbs.db

# Rider / JetBrains
.idea/
*.iml

# Logs
*.log

# Crash dumps / profiling
*.dmp
*.ipch

# NuGet
*.nupkg
packages/
.nuget/

# Raylib native copies (falls lokal entpackt)
raylib/
